.header-app {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #4776b8;
    font-size: 2rem;
    font-weight: bold;
}

hr {
    width: 100%;
    height: 0.1rem;
    background-color: #000000;
}

h1 {
    color: #ffffff;
    font-size: 2rem;
}