/* src/components/HeaderApp/HeaderApp.css */
.header-app {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 24px;
  text-align: center;
}

.header-app h1 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}